.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #2c3e50;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .nav-links {
  display: flex;
  align-items: center;
}

.navbar .nav-links .nav-link {
  position: relative;
  margin-left: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

/* This is for the combined zoom and underline effect */
.navbar .nav-links .nav-link:hover {
  transform: scale(1.1);
}

.navbar .nav-links .nav-link::before,
.navbar .nav-links .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #1abc9c;
  transition: width 0.3s ease-out;
}

.navbar .nav-links .nav-link::before {
  left: 50%;
  transform: translateX(-50%);
}

.navbar .nav-links .nav-link::after {
  right: 50%;
  transform: translateX(50%);
}

.navbar .nav-links .nav-link:hover::before,
.navbar .nav-links .nav-link.active::before {
  width: 50%;
}

.navbar .nav-links .nav-link:hover::after,
.navbar .nav-links .nav-link.active::after {
  width: 50%;
}

.navbar .nav-links .nav-link .icon {
  display: inline-block;
  margin-left: 5px;
  transition: transform 0.3s;
}

.navbar .nav-links .nav-link:hover .icon {
  transform: translateX(5px);
}

/* Logout button */
.logout-btn {
  margin-left: 10px;
  background-color: #e74c3c;
  padding: 8px 12px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}
